<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>logincheck</servlet-name>
        <servlet-class>logincheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registration</servlet-name>
        <servlet-class>registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>flightdetails</servlet-name>
        <servlet-class>flightdetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admincheck</servlet-name>
        <servlet-class>admincheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>flightAvailable</servlet-name>
        <servlet-class>flightAvailable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookdetails</servlet-name>
        <servlet-class>bookdetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userprocess</servlet-name>
        <servlet-class>userprocess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookConfirm</servlet-name>
        <servlet-class>bookConfirm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logincheck</servlet-name>
        <url-pattern>/logincheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>flightdetails</servlet-name>
        <url-pattern>/flightdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admincheck</servlet-name>
        <url-pattern>/admincheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>flightAvailable</servlet-name>
        <url-pattern>/flightAvailable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookdetails</servlet-name>
        <url-pattern>/bookdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userprocess</servlet-name>
        <url-pattern>/userprocess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookConfirm</servlet-name>
        <url-pattern>/bookConfirm</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
